*, *::before, *::after{
    box-sizing: border-box;
}

image{
    width: 100%;
} 

body{
    margin: 0;
    font-family: 'Varela Round', sans-serif;
}

header{
    margin: 0 auto;
    color: #fff;
    padding: 1.25em 8em 15em 8em;
    background: linear-gradient(45deg, #9a73e8, #4ed795, #0baee9, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 8s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

main{
    margin: 0 auto;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
li{
    color: #fff;
    list-style: none;
    font-size: 1.2rem;
}

h1{
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
}

h2{
    font-size: 3.5rem;
}

a { text-decoration: none; }
a:visited { text-decoration: none; color:rgba(0, 0, 0, 0); }
a:hover { text-decoration: none; color: #edf0f2; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }
.navbar{
    display: flex; 
    gap: 25px;
    justify-content: space-between;
}

p{
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.header-link {
	line-height: 50px;
	height: 50px;
	text-align: center;
	cursor: pointer;
    color: #FFF;
	transition: all 0.3s;
	position: relative;
}

.header-link span {
	transition: all 0.3s;
}
.header-link::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: rgba(255,255,255,0.5);
	border-bottom-color: rgba(255,255,255,0.5);
	transform: scale(0.1, 1);
}
.header-link:hover span {
	letter-spacing: 4px;
}
.header-link:hover::before {
	opacity: 1;	
	transform: scale(1, 1);	
}
.header-link::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.3s;
	background-color: rgba(255, 255, 255, 0);
}
.header-link:hover::after {
	opacity: 0;	
	transform: scale(0.1, 1);
}

.grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(189, 51, 51, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .grow:hover, .grow:focus, .grow:active {
    -webkit-transform: scale(2);
    transform: scale(1.5);
  }


.mobile-intro-tag{
    visibility: hidden;
}

.mobile-intro-img-container{
    visibility: hidden;
}

.desktop-intro-tag{
    font-family: 'Roboto', sans-serif;
    font-size: 2.75rem;
    letter-spacing: 5px;
 
}

.header-tag p{
    font-size: 1.2rem;
    font-weight: bold;
}
#intro{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.intro-img{
    filter: grayscale(100%); 
    border: 2px solid white;
    max-width: 400px;
    border-radius: 100%;
   
}

.intro-tag{
    font-size: 1.5rem;
    line-height: 5em ;
    text-align: left;
}

.font-awesome-icon-container{
    padding: 2em 0;
    display: flex;
    justify-content: center;
    gap: 50px;
}

#about-me{
    text-align: center;
    line-height: 4em;
    padding: 1.25em 8em 4em 8em;
}

#about-me h1{
    font-size: 4rem;
}

#projects{
    padding: 1.25em 8em 15em 8em;
    background-image: -webkit-linear-gradient(-65deg, #FFFFFF  50%, #9a73e8 40%, #4ed795 30%, #0baee9 20%, #23d5ab 80%); 
	background-size: 100% 100%;
	animation: gradient 5s ease infinite;

}

#projects h1{
    font-size: 4rem;
    text-align: center;
}


.ai-tunes-img{
    max-width: 800px;
}

.project-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    padding: 4em 0;
    line-height: 3.5em;
}

#workout-tracker-div{
    color: #fff;
}


.workout-tracker-img{
    max-width: 850px;
}


.passport-img{
    width:100%;
}

#birb-slots-div p, #birb-slots-div {
    color: #fff;
}

.birb-slots-img{
    width: 120%;
}
#tinbird-div{
    color: #fff;
}

.under-construction-img{
    max-width: 800px;
    width: 700px;
    border-radius: 10px;
}

.grow-2 {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(189, 51, 51, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .grow-2:hover, .grow-2:focus, .grow-2:active {
    color:#4ed795;
    -webkit-transform: scale(2);
    transform: scale(1.2);
  }

.center{
    text-align: center;
}

#skills{
    padding: 1.25em 8em 15em 8em;
}

.skill-favicons{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

#skills h1{
    font-size: 4rem;
    text-align: center;
}

#contact h1{
    text-align: center;
    font-size: 4rem;
}

.contact-container{
    padding: 2em 0 2em 0;
    display: flex;
    justify-content: center;
    gap: 50px;
}
footer{
    text-align: center;
    background-color: #66edcd;
    padding: 1em;
}

@media screen and (max-width: 1200px){
    body{
        padding: 0;
    }
    nav{
        display: flex;
    }
    #intro{
        display: block;
    }
    .intro-img-container{
        /* visibility: hidden; */
    }
    .mobile-intro-img-container{
        visibility: visible;
    }
    .desktop-intro-tag{
        visibility: hidden;
    }
    .mobile-intro-tag{
        visibility: visible;
    }
    .intro-img{
        width: 50%;
    }
    .intro-img-container{
        width: 50%;
    }
    .ai-tunes-img{
        width: 80%;
    }
    
    .passport-img{
        width: 80%;
    }
    .workout-tracker-img{
        width: 80%;
    }
    .under-construction-img{
        width: 80%;
    }
    #projects{
        background-image: none;
    }
    #skills{
        display: block;
    }
    .project-div{
        display: block;
        text-align: center;
        margin: 0 auto;
        padding: 0;
    };
   
}